.navBar{
    position: fixed;
    top: 0;
    display: inline-flex;
    background-color: black;
    width: 100%;

    ul{padding: 10px 20px;}

    a{
        color: white;
        text-emphasis: none;
        text-decoration: none;
        
        &:hover{
            color: red;
        }
    }
}